body {
  background:#0f2944;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main_section {
  background: transparent; 
  width: 500px;
  height: 500px;
  margin:  50px auto; 
}

.clock_holder {
  width: 400px;
  height: 400px;
  background: gold;
  margin: 30px auto;
  position: relative;
  border: 2px solid #281499;
  border-radius: 50%;
  padding-top: 50px;
}


.stopwatch {
  padding: 60px 0px;
  text-align: center;
}
.stopwatch span{
  background:#281499;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 20px;
  border-radius: 5px;
  width: 70px;
}

.stopwatch .stopwatch_btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  cursor: pointer;
  border: 2px solid #281499;
}
.stopwatch .stopwatch_btn:hover {
  background: #8d095a;
  border: 2px solid #281499;
  color: gold;
}
